<ul>
  <h4>Reviews</h4>
  <li ng-repeat="review in product.reviews">
    <blockquote>
      <strong>{{review.stars}} Stars</strong>
      {{review.body}}
      <cite class="clearfix">{{review.author}} on {{review.createdOn | date}}</cite>
    </blockquote>
  </li>
</ul>