<h4>Specs</h4>
<blockquote>Shine: {{product.shine}}</br>
  Price: {{product.price | currency}}</br>
  Color: {{product.color}}</br>
  Rarity: {{product.rarity}}</br>
  Faces: {{product.faces}}</blockquote>