<!DOCTYPE html>
<html ng-app="carsStore">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/products.js"></script>
  <script type="text/javascript" src="js/store-products.json"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-controller="StoreController as store">
  <header>
    <h1 class="text-center">American Muscle</h1>
    <h2 class="text-center">– an Angular project –</h2>
  </header>
  <div class="list-group pag">
    <div class="list-group-item" ng-repeat="product in store.products">
      <h3>{{product.name}}
        <em class="pull-right">{{product.price | currency}}</em>
      </h3>
      <div ng-show="product.images.length" >
          <product-gallery ></product-gallery>
      </div>
      <section >
          <!-- products directive tabs -->
          <product-tabs></product-tabs>
        <div ng-show="tab.isSet(1)">
        <!-- products description directive-->
          <product-description></product-description>
        </div>
        <div ng-show="tab.isSet(2)">
          <product-specs></product-specs>
        </div>
        <!--  Review Tab's Content  -->
        <div ng-show="tab.isSet(3)">
          <!--  Product Reviews List -->
          <product-review></product-review>
          <!-- Start Review Form Directive-->
          <form-review></form-review>
        </div>
        <!-- End Review Form -->
      </section>
    </div>
  </div>
</body>
</html>