.pag{
  width: 50%;
  margin: auto;
}
.poze{
  width: 500px;
  height: 300px;
}

.ng-invalid.ng-dirty{
  border-color:red;
}    
.ng-valid.ng-dirty{
  border-color:green;
}    
.list_specs{
  list-style-type: none;
}
ul{
  list-style-type: none;
}